@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme from ui.jln.dev => Name: Xenial Blackberry Yogurt */
@layer base {
  :root {
    --background: 312 0% 96.92%;
    --foreground: 312 68% 3%;
    --muted: 304.5 0% 86.54%;
    --muted-foreground: 282 0% 49.23%;
    --popover: 312 34% 99%;
    --popover-foreground: 312 0% 0%;
    --card: 312 0% 100%;
    --card-foreground: 312 68% 3%;
    --border: 211.25 100% 92.43%;
    --input: 211.25 0% 51.54%;
    --primary: 211.7 55.03% 82.89%;
    --primary-foreground: 312 0% 0%;
    --secondary: 304.53 46% 82.91%;
    --secondary-foreground: 282 0% 0%;
    --accent: 211.25 54.55% 82.75%;
    --accent-foreground: 342 0% 0.77%;
    --destructive: 345.28 80.67% 52.25%;
    --destructive-foreground: 0 0% 100%;
    --ring: 211.25 54.55% 82.75%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 312 0% 5.38%;
    --foreground: 312 25% 98%;
    --muted: 282 1.67% 19.67%;
    --muted-foreground: 282 0% 50.77%;
    --popover: 0 0% 10.2%;
    --popover-foreground: 312 0% 100%;
    --card: 312 0% 10%;
    --card-foreground: 312 25% 98%;
    --border: 304.5 0% 19.23%;
    --input: 0 0% 19.22%;
    --primary: 304.5 45.45% 82.75%;
    --primary-foreground: 312 0% 0%;
    --secondary: 211.25 54.55% 82.75%;
    --secondary-foreground: 282 0% 0%;
    --accent: 304.5 45.45% 82.75%;
    --accent-foreground: 342 0% 0%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 304.5 45.45% 82.75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
